<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><strong>Hexaglow</strong> &mdash; {{ include.header_title }}</span>

            <!-- Gap in the middle -->
            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation mdl-layout--large-screens-only">
                {% include {{include.menu_links}} %}
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><strong>Hexaglow</strong> &mdash; {{ include.header_title }}</span>
        <nav class="mdl-navigation">
            {% include {{include.menu_links}} %}
        </nav>
    </div>
    <div class="mdl-layout__content">
        <!-- Do not forget to close using the close file -->
